/* FOOTER COMÚN A TODAS LAS PÁGINAS */

:root{
    --tamanho-letra:10px;
    --letra-poppins: "Poppins", serif;
}

footer{
    margin-top: 35px;
    border-top: 1px solid #e2e2e2;
    background-color: black;
    height: 280px;

    .navegador{
      text-align: center;
      font-size: xx-large;
      margin-top: 35px;
    }

    ul{
      display: flex;
      gap: 15px;
      justify-content: center;
      font-size: 25px;
      
    }

    li{
        list-style-type: none;
    }

    a{
      
        text-decoration: none;
        color: white;
    }

    .terminos{
        font-family: var(--letra-poppins);
        font-size: var(--tamanho-letra);

        .privacidad{
            display: flex;
            text-align: left;
            margin-left: 35px;
            
            .primero{
                border-right: 1px solid #e2e2e2;
                
            }
        }
    
        .copyright{
            text-align: right;
            margin-right: 35px;
        }
    } 
  }