@import url("./style-footer.css");
@import url("./botones.css");
/* EL IMPORT DEBE ESTAR SIEMPRE SOBRE EL CÓDIGO */

:root {
  --color-blanco: white;
  --color-rojo: red;
  --letra-bebas: "Bebas Neue", sans-serif;
  --letra-poppins: "Poppins", serif;
  --border-rojo: 1px solid red;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;/*incluirá el borde de la caja en la medida estipulada*/
}

@media (min-width: 320px) {
  body {
    /*PARA UTILIZAR EL DEGRADADO ES MEJOR INSERTAR LA IMAGEN EN EL CSS*/
    background: linear-gradient(to right, black, transparent) no-repeat,
      url("../../imagenes/fondo_gym.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    font-family: var(--letra-bebas);
    color: var(--color-blanco);

    .color-rojo {
      color: var(--color-rojo);
    }
    .color-blanco{
      color: white;
    }

    header {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      align-items: center;

      h1 {
        grid-column-start: 1;
        justify-self: center;
      }

      .menu {
        justify-self: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        a {
          text-decoration: none;
          color: var(--color-blanco);
          font-size: x-large;
        }
      }
    }

    section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      
      .ready {
        
        font-size: 85px;
        margin-left: 95px;
      }

      .motivador pre {
        
        font-family: var(--letra-poppins);
        font-size: medium;
        margin-left: 95px;
      }

      .logros {
        display: flex;
        gap: 20px;
        margin-left: 75px;

        .logros2{
          margin-top: 55px;
          
          border-right: 1xp solid #e2e2e2;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 200px;

          .color-blanco{
            font-size: 25px;
          }
          .color-rojo{
            font-size: 35px;
          }
        }
        
      }
    } 
  }
}